@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Bowler>

<h1>Bowlers</h1>

<ul>
    @foreach (Bowler bowler in Model)
    {
        <li>@bowler.BowlerID - @bowler.BowlerFirstName - @bowler.Team.TeamName</li>
    }
</ul>
